@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #fafafa;
    color: #050505;
    font-size: 16px;
    min-height: 200vh;

    & a {
        color: #050505;
        transition: .25s;
        text-decoration: none;
    }

    & a:active,
    a:focus,
    a:hover {
        color: #85d9d1;
        scale: 1.25;
    }

    h1 {
        font-size: 3rem;
    }

    & nav {
        width: 100%;
        position: fixed;
        display: flex;
        justify-content: flex-end;
        background-color: white;

        & a {
            font-size: 3rem;
            margin: 1rem;
            padding: 1rem;
        }
    }

    & header {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        display: flex;
        justify-content: center;
        align-items: center;

        & #header-image {
            z-index: -10;
            width: 50vw;
            max-height: 75vh;
            object-fit: fill;
            overflow: hidden;
            border-radius: 16px;

            & img {
                border-radius: 16px;
                width: 100%;
            }
        }
    }
}