@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import "./slide";

.night-time {
    color: #fafafa;
    background-color: #050505;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #fafafa;
    color: #050505;
    font-size: 16px;
    min-height: 200vh;

    & a {
        position: relative;
        color: #050505;
        transition: .25s;
        text-decoration: none;
        padding-bottom: .25rem;
        cursor: pointer;
    }

    a::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: #050505;
        bottom: 0;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .25s ease-in-out;
    }

    & a:active::before,
    a:focus::before,
    a:hover::before {
        transform-origin: left;
        transform: scaleX(1);
    }

    @mixin horizontal-line {
        content: "";
        bottom: 0;
        left: 0;
        margin: 0 1rem 0 1rem;
        position: absolute;
        width: calc(100vw - 2rem);
        height: 1px;
        background-color: #050505;
    }

    & nav {
        z-index: 10;
        width: 100%;
        position: fixed;
        display: flex;
        justify-content: flex-end;
        background-color: #fafafa;

        & a {
            font-size: calc(2rem + 1vw);
            margin: 1rem;
        }
    }

    & nav::after {
        @include horizontal-line;
    }

    & header {
        padding-top: calc(1rem + 10vh);
        display: flex;
        flex-direction: column;
        align-items: center;

        & h1 {
            z-index: -10;
            font-size: calc(2rem + 2vw);
            font-weight: bold;
            margin: 1rem;
            text-align: center;
        }

        & #header-image {
            z-index: -10;
            margin: 1rem;
            max-width: 100rem;
            max-height: 75vh;
            object-fit: fill;
            overflow: hidden;
            border-radius: 16px;
            display: flex;
            justify-content: center;
            align-items: center;

            & img {
                border-radius: 16px;
                width: 100%;
            }
        }
    }

    & section {
        margin: 1rem;

        & h2 {
            font-size: 1.5rem;
            font-weight: bold;
        }

        & .paragraph {
            max-width: 100rem;
            margin: 1rem;

            & p {
                font-size: calc(1rem + .5vw);
                line-height: calc(2rem + .5vw);
            }
        }

        & .review {
            margin: 2rem 0 2rem 0;

            & .review-image {
                max-width: 50rem;
                max-height: 50rem;
                overflow: hidden;
                border-radius: 16px;
                margin: 0 2rem 2rem 0;

                & img {
                    width: 100%;
                    border-radius: 16px;
                }
            }

            & .review-copy {
                h3 {
                    font-size: 1.25rem;
                }

                & ul {
                    opacity: 0;
                    width: fit-content;
                    list-style-type: circle;

                    & h3 {
                        padding: 1rem 0 1rem 0;
                        // border-bottom: solid 1px #050505;
                    }

                    & li {
                        margin: .5rem 0 .5rem 1rem;
                    }
                }
            }
        }
    }

    & #about {
        padding-top: calc(1rem + 10vh);
        overflow: hidden;

        & #about-image {
            z-index: -5;
            max-width: 100vw;
            max-height: 75vh;
            overflow: hidden;
            object-fit: fill;
            border-radius: 16px;

            & img {
                transition: .25s;
                border-radius: 16px;
                width: 100%;
            }
        }

        & .paragraph {
            opacity: 0;
        }

        & #tldr {
            margin: 1rem 0 2rem 0;
            max-width: 100vw;
            display: flex;
            justify-content: flex-end;
        }
    }

    & #contact {
        padding-top: calc(1rem + 10vh);
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & .paragraph {
            padding: 2rem;
            max-width: 100%;
            border-right: solid 1px #050505;

            & p {
                font-size: 1.5rem;
                padding: .5rem 0 .5rem 0;
            }
        }
    }

    & aside {
        z-index: 10;
        position: fixed;
        right: 0;
        display: flex;
        flex-direction: column;
        margin: 1rem 0 1rem 0;
        border-left: solid 1px #050505;

        & a {
            width: fit-content;
            margin: 1rem;
        }
    }

    & #disclaimer {
        margin: 5rem 0 1rem 1rem;
        overflow: hidden;

        & h2 {
            opacity: 0;
        }

        & .paragraph {
            opacity: 0;
        }
    }

    & #keyboards {
        padding-top: calc(1rem + 10vh);
    }

    & footer {
        border-top: solid 1px #050505;
        margin: 1rem;
        padding-top: 1rem;
        display: flex;
        justify-content: flex-end;
    }
}